<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourteen.wms.mapper.CvsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fourteen.wms.entity.Cvs">
        <id column="简历id" property="简历id" />
        <result column="姓名" property="姓名" />
        <result column="手机号" property="手机号" />
        <result column="紧急联系人" property="紧急联系人" />
        <result column="紧急联系人电话" property="紧急联系人电话" />
        <result column="意向岗位" property="意向岗位" />
        <result column="自我评价" property="自我评价" />
        <result column="技能特长" property="技能特长" />
        <result column="经历" property="经历" />
        <result column="用户id" property="用户id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        姓名, 手机号, 紧急联系人, 紧急联系人电话, 意向岗位, 自我评价, 技能特长, 经历, 简历id, 用户id
    </sql>

</mapper>
